.nav-title {color: white;
        background-color: #4aaaa5;
        }

.navbar {
        border-bottom: 3px solid #cccccc;}
      

.page-header {color: #4aaaa5;
              border-bottom-style: solid;
              border-bottom-color: #cccccc;
              font-family: "Times New Roman", Times, serif;
              font-weight: bold}

.container {border-style: solid;
            border-color: lightgrey;
            margin-top: 75px;
            background-color: white;
            max-width: 800px;}

p {font-family:'Helvetica Neue', Helvetica, sans-serif;
        color: #777777}

body {background-image: url("css/dynamic-style.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #cccccc;
        background-position: center;
        background-size: cover;}

.footer {position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
            background-color: darkslategrey;
            color: darkgrey;
            text-align: center;
            border-top: solid, #4aaaa5;}
          